@model IEnumerable<MvcMovie.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var actor in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => actor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => actor.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => actor.Gender)
            </td>
            <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@actor.Id" style="background-color: #4ca1af; border-color: #4ca1af;">View</a>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@actor.Id" style="background-color: #f39c12; border-color: #f39c12;">Edit</a>
                <a class="btn btn-warning btn-sm" asp-action="Delete" asp-route-id="@actor.Id" style="background-color: #e74c3c; border-color: #e74c3c;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
